@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>UGym</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://webthemez.com" />
    <!-- css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">*@
    <style>
        /* Estilos para el menú slider */
        #slide-out {
            width: 64px;
            overflow: hidden;
            transition: width 0.2s;
            background-color: #205A66;
        }

            #slide-out:hover {
                width: 250px;
            }

        .sidenav-fixed {
            left: 0;
            transform: translateX(-100%);
        }

        #slide-out.sidenav-fixed:hover {
            transform: translateX(0);
        }

        #slide-out li {
            display: flex;
            align-items: center;
            padding: 8px;
            transition: all 0.2s;
            margin-left: -20px;
            margin-bottom: 40px
        }

            #slide-out li:hover {
                margin-left: 0;
                margin-top: 24px;
                margin-bottom: 24px;
            }

            #slide-out li a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;
            }

                #slide-out li a i.material-icons {
                    font-size: 40px;
                    margin-right: 24px;
                }

        .sidenav-trigger {
            display: none;
        }

        @@media only screen and (max-width: 992px) {
            #slide-out.sidenav-fixed {
                transform: translateX(0);
            }

            .sidenav-trigger {
                display: block;
                position: fixed;
                top: 10px;
                left: 10px;
                z-index: 999;
            }
        }
    </style>
</head>
<body>
    <!-- Menú lateral -->
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><a href="#"><i class="material-icons">account_circle</i>@Html.ActionLink("Perfil", "Profile", "Nutritionist", new { area = "" }, new { @class = "waves-effect waves-dark" })</a></li>
        <li><a href="#"><i class="material-icons">person</i>@Html.ActionLink("Clientes", "Clients", "Nutritionist", new { area = "" }, new { @class = "waves-effect waves-dark" })</a></li>
        <li><a href="#"><i class="material-icons">accessibility_new</i>@Html.ActionLink("Inbody", "Reports", "Nutritionist", new { area = "" }, new { @class = "waves-effect waves-dark" })</a></li>
        <li><a href="#"><i class="material-icons">logout</i>@Html.ActionLink("Cerrar", "Index", "Home", new { area = "" }, new { @class = "waves-effect waves-dark" })</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    
    <!--</section>-->
    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
    </script>
</body>
</html>
