@model FrontEnd.Models.QRCodeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QRCodeViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QrcodeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QrcodeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkQr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkQr)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QrcodeId }) |
    <a asp-action="Index">Back to List</a>
</div>