@model IEnumerable<FrontEnd.Models.EmployeesViewModel>

@{
    Layout = "~/Views/Shared/_Nutritionist_layout.cshtml";
}

<div class="container">
    <h2>Perfil</h2>
</div>

<div class="container">
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.EmployeeId)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.EmployeeNumber)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeNumber)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.FullName)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.Birthday)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.Gender)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.Email)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.Address)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.MobileNumber)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.EmergencyContactId)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmergencyContactId)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.RoleId)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleId)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p id="mensajeBorrado" style="display: none; color: green;">Informe Borrado</p>
    @Html.ActionLink("Regresar", "Index", "Nutritionist", new { area = "" }, new { @class = "btn waves-effect waves-light" })
</div>

<!-- Estilos -->
<style>
    .table {
        width: 100%;
        max-width: 800px;
        margin: 20px auto;
    }

    .container {
        text-align: center; /* Centra el contenido */
    }

    table.table {
        width: auto; /* Ancho automático */
        background-color: white; /* Fondo blanco */
        max-width: 100%; /* Máximo ancho del contenedor */
        margin: 20px auto;
        border-radius: 5px; /* Bordes redondeados */
        overflow: hidden; /* Oculta el contenido que se desborda */
    }

    .table th,
    .table td {
        vertical-align: middle;
        border: 1px solid white; /* Borde blanco */
        text-align: center; /* Centra el contenido horizontalmente */
    }

    .btn {
        margin-right: 5px;
    }

    /* Estilo para centrar verticalmente los elementos en las filas */
    .row-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Estilo para centrar el texto de las entradas de filtro verticalmente */
    .filter-input {
        margin-bottom: 0; /* Elimina el espacio debajo de las entradas de filtro */
    }
</style>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.borrarBtn').on('click', function () {
            $('#mensajeBorrado').show();
            setTimeout(function () {
                $('#mensajeBorrado').hide();
            }, 2000);
        });

        $('#filtroNumeroSocio, #filtroNombre, #filtroApellidos').on('input', function () {
            var filtroNumeroSocio = $('#filtroNumeroSocio').val().toLowerCase();
            var filtroNombre = $('#filtroNombre').val().toLowerCase();
            var filtroApellidos = $('#filtroApellidos').val().toLowerCase();

            $('.table tbody tr').each(function () {
                var numeroSocio = $(this).find('td:eq(0)').text().toLowerCase();
                var nombre = $(this).find('td:eq(1)').text().toLowerCase();
                var apellidos = $(this).find('td:eq(1)').text().toLowerCase();

                if (numeroSocio.includes(filtroNumeroSocio) &&
                    nombre.includes(filtroNombre) &&
                    apellidos.includes(filtroApellidos)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>
